@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --red: #d7322c;
  --green: #15523e;
  --black: #1e1e1e;
  --brown: #35302d;
  --stroke: #ced3d6;
  --stroke-2: #7b8e97;
  --blue: #304763;
  --light: #eef0f3;
  --grey: #aeb1b7;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text-black);
  font-family: var(--font-rubik), sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Обнуление стилей по умолчанию */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.3;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.chakra-steps__trigger {
  flex-direction: column;
  position: relative;
  gap: 8px;
}
.chakra-steps__indicator {
  border: 1px solid var(--grey);
  background-color: transparent;
  color: var(--grey);
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
}
.chakra-steps__indicator[data-complete],
.chakra-steps__indicator[data-current] {
  border: 1px solid var(--green);
  color: var(--green);
}
.chakra-steps__title {
  width: 154px;
  position: absolute;
  bottom: -25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: var(--grey);
  transition: 0.2s;
}
.chakra-steps__indicator[data-complete] + .chakra-steps__title,
.chakra-steps__indicator[data-current] + .chakra-steps__title {
  color: var(--green);
}
.chakra-steps__separator {
  height: 2px;
  background: url("/line.svg") center/100% repeat-x;
  transition: 0.2s;
}
.chakra-steps__separator[data-complete] {
  background: url("/line-green.svg") center/100% repeat-x;
}

.dop .swiper-wrapper {
  margin-bottom: 5px;
  gap: 20px;
}

.addressModal {
  top: 0;
}

.chakra-segment-group__item::before {
  display: none;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}
.react-tel-input .selected-flag .arrow {
  display: none;
}
.react-tel-input .selected-flag {
  padding: 0 0 0 12px !important;
}

.selected-flag::before {
  content: "";
  display: block;
  position: relative;
  left: 28px;
  top: 12px;
  width: 1px;
  height: 19px;
  background-color: #e5e4ea;
}

.margin {
  margin-bottom: calc(100dvh - 514px);
}

/* styles/nprogress.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--green); /* Цвет полосы */
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--green), 0 0 5px var(--green);
  opacity: 0.8;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: none; /* Отключить индикатор вращения */
}

.chakra-dialog__content {
  background-color: #fff0 !important;
}

.skeleton {
  height: calc(100% - 350px);
}
.alert {
  width: calc(100% - 110px);
}

@media (min-width: 768px) {
  .addressModal {
    top: calc(50vh - 257px);
  }
  .margin {
    margin-bottom: calc(100dvh - 598px);
  }
}

@media (min-width: 1300px) {
  .addressModal {
    top: calc(50vh - 257px);
  }
  .margin {
    margin-bottom: calc(100dvh - 726px);
  }
  #nprogress .bar {
    height: 4px;
  }
  .alert {
    width: auto;
  }
}
